/* removing the default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Font and Font Colouring */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* applying styles to the <header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* styles the header's <h1> tag */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* styles the header's <a> tag */
header a {
    text-decoration: none;
    color: #fce138;
}

/* styles the header's <nav> tag */
header nav {
    float: right;
    margin: 7px 0;
}

/* styles the <li> elements of the <nav> tag */
header nav ul li {
    display: inline;
}

/* styles the <a> tags under the <li> tag */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* styles the <footer> element */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* styles the <h2> element under the <footer> element */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* styles the <div> elements under the <footer> element */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* styles the <a> element under the <footer> element */
footer a {
    color: #024e76;
}

/* section styling */
section {
    padding: 60px;;
}

/* hero styles start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    color: #024e76;
    padding: 20px;
    width: 500px;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

/* styling the form box */
section div h3 {
    margin: 0;
    font-size: 30px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color:#fce138;
    background-color: #024e76;
    border:none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero styles end */